[submodule "modules/manakai"]
	path = modules/manakai
	url = git://github.com/wakaba/manakai.git
[submodule "modules/charclass"]
	path = modules/charclass
	url = git://github.com/wakaba/perl-charclass.git
[submodule "modules/perl-json-functions-xs"]
	path = modules/perl-json-functions-xs
	url = git://github.com/wakaba/perl-json-functions-xs
