IndexIgnore *.tmp

Options -ExecCGI

## These are willful violations to MIME type specs.
AddType text/pod .pod
AddType text/perl .pm .pl .t

AddDefaultCharset utf-8
AddCharset utf-8 .html .pod .pm .pl .t

## License: Public Domain.
